/* CSS Variables */
:root {
    --primary: #1f2937;
    --light: #f9faf8;
    --grey: #e5e7eb;
    --blue: #3882f6;
}

html {
    /* padding does not affect width of element */
    box-sizing: boarder-box; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background: var(--primary);
    /* margin:10px 0px; */
    /* padding: 0px; */
    line-height: 1.2;
}

.btn{
    background-color: var(--blue);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    
}

.wrapper {
    margin: auto;
    max-width: 1110px;
    height: 100vh;
}

/* Navigation (header) */

.main-nav {
    display: flex;
    margin: 10px 10px;
    align-items: baseline;
    justify-content: space-between;
    height: 10%;
    
}

.logo{
    display: flex;
    color: var(--light);
    font-weight: bold;
    font-size: 24px;
    margin: 10px;  
}

.main-nav ul{
    margin: 10px;
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.main-nav a {
    color: var(--light);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.main-nav a:hover {
    color: aqua;
}

/* Top Containter */
.top-container {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    gap: 2em;
    /* padding: 2em 0; */
    margin: 10px 10px;
}

.top-container .left {
    display: flex;
    flex-direction: column;
    color: var(--light);
    gap: 10px  ;
    max-width: 40%;

}
.top-container .left h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 10px;
    line-height: 1.0;
}

.top-container .left p {
    margin: 10px;
    display: flex;
    align-items: center;
}

.top-container a {
    background-color: var(--blue);
    border-radius: 8px;
    width: fit-content;

}


.top-container .right {
    
    color: var(--light);
    display: flex;
    width: 50%;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: darkgray;
    
}

.second-container{
    background: var(--light);
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    size: 18px;
}


.square {
    
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.third-container {
    color: var(--primary);
    background-color: var(--grey);
    font-size: 36px;
    font-style: italic;

    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 10%;
    flex:1;
}

.third-container .sig {
    display: flex;
    justify-content: flex-end;
}

.fourth-container {
    padding: 10px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light) ;
    flex:1;
}

.fourth-container .box {
    padding: 10px;
    max-width: 80%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 100%;
    border-radius: 10px;

}

strong {
    font-size: 24px;
    color: #FFF;
}

.fourth-container .left {
    margin:10px;
    display: flex;
    flex-direction: column;
    color: var(--light);
    flex:1;
    line-height: 0.5;
    
}

.fourth-container .right {
    display: flex;
    flex:1;
    justify-content: center;
}

.fourth-container .right button {
    border: 2px solid #FFF;
    border-radius: 10px;
    background-color: #3882f6;
    color: var(--light);
    font-size: 18px;
}

footer {
    color: var(--light);
    height 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

/* body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px repeat(4, 1fr) 50px;
    grid-template-areas: "hd1 hd2" 
                         "s1a s1b" 
                         "s2a s2b" 
                         "s3a s3b" 
                         "s4a s4b" 
                         "ft ft";
    
    gap: 0px;
    
}

header {
  
    
    background-color: #1F2937;
    color: white;
    padding: 10px 10%;
    grid-area: hd1 hd2;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-logo{
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    padding: 10px;



}

li, a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    size: 24px;
}

.nav-links {
    list-style: none;
    

}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-links a {
    transition: all 0.3s ease 0s;
}

.nav-links a:hover {
    color: aqua;
} */


